<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Restful Booker Tests">	
	<listeners>
		<listener class-name="com.herokuapp.restfulbooker.extentreport.ExtentReportListener" />
	</listeners>
	<test name="Booker Tests">
		<classes>
		<class name="com.herokuapp.restfulbooker.tests.BookerTests"></class>
		</classes>
	</test>
</suite>
